:root{
    --main-color: #2c2c2a;
    --main-red: #DB5461;
    --main-red-hover: #db2638;
    --main-grey: #686963;
    --white: #FAFAFA;
    --alice-blue: #E3F2FD;
    --alice-blue-carrito: #e3f2fd56;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

.main-div{
    background-color: var(--main-color);
    height: 60px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
    display: flex;
}
.logo{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Carrito */
.cart{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart .contadorCarrito{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    text-align: center;
    padding: 15px;
    color: white;
    background-color: var(--alice-blue-carrito);
    border-radius: 10px;
}
.cart img{
    max-width: 30px;
    max-height: 30px;
    padding-right: 10px;
}

.cart-item img{
    width: 200px;
    margin-top: 10px;
    height: 100%;
}
.imagen-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.finish-buying{
    text-decoration: none;
    color: white;
    background-color: var(--main-red);
    padding: 7px;
    font-size: 15px;
    border-radius: 3px;
    transition: background-color .2s ease;
}
.finish-buying:hover{
    background-color: var(--main-red-hover);
    cursor: pointer;
}
/* Order */

.order-final-container{
    margin: 0 auto;
    width: 550px;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.34);
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: solid 6px var(--main-red);
    border-radius: 6px;
    font-family: "Rubik", sans-serif;
}

.buttons-final{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons-final a{
    text-decoration: none;
    color: white;
    background-color: var(--main-red);
    border-radius: 4px;
    padding: 7px;
    font-size: 15px;
    transition: background-color .2s ease;
}
.buttons-final a:hover{
    background-color: var(--main-red-hover);
    cursor: pointer;
}

.buttons-final button{
    background-color: var(--main-red-hover);
    border: none;
    border-radius: 3px;
    color: white;
    font-family: "Rubik", sans-serif;
}
.buttons-final button:hover{
    background-color: var(--main-red);
    cursor: pointer;
}

/* User confirmation */

.user-data{
    margin: 0 auto;
    width: 450px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: solid 6px var(--main-red);
    border-radius: 6px;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.34);
    font-family: "Rubik", sans-serif;
}
.user-data h3{
    margin-top: 0;
    text-align: center;
    color: var(--main-red);
}

.user-data-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.data-label-content{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
}
.data-label-content input[type="text"],.data-label-content input[type="number"]{
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: solid 2px var(--main-red);
    border-radius: 4px;
}
.data-label-content input[type="text"]:focus,.data-label-content input[type="number"]:focus{
    border: solid 2px var(--main-red-hover);
}

.user-data-form button{
    background-color: var(--main-red-hover);
    border: none;
    border-radius: 3px;
    color: white;
    font-family: "Rubik", sans-serif;
    padding: 10px;
    transition: background-color .2s ease;
    margin-top: 15px;
}
.user-data-form button:hover{
    background-color: var(--main-red);
    cursor: pointer;
}

/* Estilos a los enlaces */
.main-div a{
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    color: var(--white);
    padding: 10px;
    margin: 10px;
}
.main-div .links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.main-div .links a{
    transition: background-color .2s;
    transition: color .2s;
}
.main-div .links a:hover{
    border-bottom: 2px solid var(--main-red);
    background-color: white;
    color: var(--main-color);
    border-radius: 3px;
}
.logo h2{
    font-family: "Rubik", sans-serif;
    color: var(--main-grey);
    font-size: 40px;
}
.logo a{
    text-decoration: none;
}
.logo span{
    color: var(--main-red);
}

/* Productos */
.item-detail{
    width: 100%;
    display: flex;
    justify-content:center;
    padding-top: 40px;
}
.img-detail img{
    width: 500px;
    margin-top: 30px;
    margin-right: 100px;
}
.description-detail h2{
    font-family: "Rubik", sans-serif;
    color: var(--main-red);
}
.description-detail h3{
    color: var(--main-red);
}
.description-detail h3 span{
    color: var(--main-grey);
}
.description-detail{
    width: 400px;
}
.contenedor-productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}
.contenedor-productos .loading{
    margin: 0 auto;
}
.cart-item{
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 1px 3px 9px -3px rgba(0,0,0,0.74);
    display: flex;
    justify-content: space-around;
    width: 270px;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    transition: border-bottom .2s ease;
    transition: border-radius .2s ease;
    margin: 20px;
}
.cart-item:hover{
    border-bottom: 3px solid var(--main-red);
    border-radius: 10px;
    margin-bottom: 15px;
}
.item-name{
    padding: 0;
    margin-top: 15px;
    margin-bottom: 2px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: var(--main-red);
}

.set-cant{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--main-red);
    border-radius: 6px;
    width: 200px;
    height: 35px;
}

.button-as{
    height: 33px;
    width: 40px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: var(--main-red);
    font-weight: bolder;
    font-size: 30px;
    font-weight: 400;
}
.button-as:hover{
    cursor:pointer;
}

.add-to-cart{
    border: none;
    background-color: var(--main-red);
    font-family: "Rubik", sans-serif;
    font-weight: 200;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color .2s ease-out;
}
.link{
    border: none;
    background-color: var(--main-red);
    font-family: "Rubik", sans-serif;
    font-weight: 200;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color .2s ease-out;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
.link:hover{
    background-color: var(--main-red-hover);
}

.add-to-cart:hover{
    background-color: var(--main-red-hover);
}
/* Header */

.space{
    width: 300px;
}

/* Empty cart */

.main-empty{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-empty h3{
    margin-top: 40px;
    color: var(--main-red);
    font-family: "Rubik", sans-serif;
}

/* Full Cart */

.contenido-carrito{
    margin: 0 auto;
    width: 1000px;
    padding: 40px 0 40px 0;
    margin-top: 20px;
}

.cart-content-item{
    height: 120px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.52);
    margin: 20px;
    border-left: 10px solid var(--main-color);
}

.delete-icon button{
    border: none;
    background-color: white;
}
.delete-icon button:hover{
    cursor: pointer;
}
.carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-title{
    text-align: center;
    color: var(--main-red);
}

.cant-prod span{
    color: var(--main-red);
}

.cart-content-item img{
    max-height: 100%;
    margin: 10px 20px 10px 30px;
}
.delete-icon{
    width: 30px;
    margin-right: 50px;
}
.delete-icon img{
    max-width: 100%;
    max-height: 100%;
}

.detalle-de-carrito{
    font-size: 25px;
    color: var(--main-color);
}
.detalle-de-carrito span{
    color: var(--main-red);
}
.final-detail{
    height: 50px;
    border-left: 10px solid var(--main-red);
    font-family: "Rubik", sans-serif;
}
.final-detail button{
    border: none;
    padding: 10px;
    font-family: "Rubik", sans-serif;
    font-weight: 100;
    background-color: var(--main-red);
    color: white;
    border-radius: 4px;
    transition: background-color .2s ease;
}
.final-detail button:hover{
    background-color: var(--main-red-hover);
    cursor: pointer;
}

/* Footer */

.footer{
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    bottom: 0;
}
.footer-section{
    width: 300px;
    margin: 0 50px 0 50px;
}
.footer-section-media h4{
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-section-media{
    margin: 10px;
}
.footer-main{
    color: var(--alice-blue);
    display: flex;
    justify-content: center;
}
.footer-section-links{
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 100px 10px 100px;
}
.links-footer li{
    margin: 10px 0 10px 0;
}
.footer-link{
    text-decoration: none;
    color: white;
    font-weight: 100;
    text-align:start;
    transition: color .2s ease;
}
.footer-link:hover{
    color: var(--main-red);
}
.footer-section-links h4{
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
}
.footer-copyright{
    background-color: var(--white);
}
.footer-copyright p{
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 100;
    margin: 10px;
}
.links-footer{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.networks{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.media-icon{
    margin: 10px;
}

/* Search Box */
.search-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    display: flex;
    height: 80px;
}
.search-box-form{
    display: flex;
    align-items: center;
    border: 1px solid var(--main-grey);
    border-radius: 4px;
    padding: 2px;
    margin: 0 260px 0 20px;
}
.search-box-form:focus-within{
    border: 1px solid var(--main-red);
}
.search-box-form img{
    height: 30px;
}

.search-box-input{
    font-family: "Rubik", sans-serif;
    font-weight: 100;
    padding: 10px;
    border-radius: 4px;
    width: 400px;
    border: none;
}
input[type="text"]:focus{
    border: none;
    outline: none;
}

.search-button{
    border: none;
    background-color: white;
    cursor: pointer;
}